@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #f1f5f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

    @font-face {
      font-family: 'DepartureMono';
      src: url('../app/fonts/DepartureMono-Regular.woff') format('woff'),
        url('../app/fonts/PPNeueMontreal-Book.otf') format('otf');
      font-weight: normal;
      font-style: normal;
    }
    

}
